@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.ttf') format('truetype');
} 

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.ttf') format('truetype');
}


:root {
    --font-family: 'Open Sans', sans-serif;
    --color-text: #0f0d0e;
    --color-bg-text: #ffffff;
    --color-bg: #ffffff;
    --color-accent: #b59f5b;
    --color-link: #b59f5b;
    --color-link-hover: #0f0d0e;
    --color-link-dark: #0f0d0e;
    --color-link-dark-hover: #b59f5b;
    --color-button: #b59f5b;
    --color-button-hover: #0f0d0e;
}


* {
    box-sizing: border-box;
}

/* Мобильная версия (по умолчанию) */
.header__nav {
    display: none;
}

body {
    font-size: 14px;
    font-family: var(--font-family);
    color: var(--color-text);
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    margin: 65px 0;
}

.header {
    position: relative;
    min-height: 638px;
    background: url('../images/banner-mobile.jpg') no-repeat center / cover;   
    z-index: 0;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.header__top-mobile {
    padding-top: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__btn-burger,
.header__tablet-btn-burger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 41px;
    padding: 0;
}

.header__btn-burger-icon g rect,
.header__tablet-btn-icon g rect {
    fill: var(--color-bg-text);
    transition: fill 0.3s ease;
}

.header__btn-burger-icon:hover g rect,
.header__tablet-btn-icon:hover g rect {
    fill: var(--color-link-hover);
}

.header__tablet-btn-burger {
    display: none;
}

.header__top {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 165px;
}

.header__logo {
    width: auto;
    height: 61px;
}

.header__menu {
    display: flex;
    list-style-type: none;
    gap: 34.3px;
}

.header__title {
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-bg-text);
    margin: 35px 0 0;
}

.header__title-line {
    display: none;
}

.header__menu-item {
    transform: translateX(-2px);
}

.header__link {
    text-decoration: none;
    color: var(--color-bg-text);
    font-size: 13px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.header__link:hover {
    color: var(--color-link-hover);
}

.trending__container {
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending__title {
    font-size: 16px;
    text-transform: uppercase;
    transform: translate(-2px, 9px);
}

.trending__title::after {
    content: '';
    display: block;
    width: 66px;
    height: 3px;
    background-color: var(--color-accent);
    opacity: 0.4;
    margin: 10px auto 0;
}

.trending__list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    overflow-x: auto;
    column-gap: 5px;
    row-gap: 5px;
    transform: translate(-2px, 2px);
}

.trending__item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    position: relative;
    z-index: 0;
    background-color: #0f0d0e;
    min-height: 230px;
}

.trending__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
}

.trending__item-garden {
    background: url('../images/trend1.jpg') no-repeat center / cover;
}

.trending__item-cheese {
    background: url('../images/trend2.jpg') no-repeat center / cover;
}

.trending__item-travel {
    background: url('../images/trend3.jpg') no-repeat center / cover;
}

.trending__item-vitamin {
    background: url('../images/trend4.jpg') no-repeat center / cover;
}

.trending__border {
    border: 3px solid rgba(181, 159, 91, 0.6);
    margin: 16px 15px;
    padding: 28px 20px;
    max-height: 100%;
    overflow-y: hidden;
}


.trending__tags {
    display: flex;
    gap: 17px;
    transform: translateX(4px);
}

.trending__tag {
    text-transform: uppercase;
    text-decoration:none;
    font-size: 14px;
    color: var(--color-link);
    transition: color 0.3s ease;
    letter-spacing: 0.5px;
}

.trending__tag:hover {
    color: var(--color-link-hover);
}

.trending__subtitle {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
    margin: 5px 0 0;
}

.trending__link {
    text-decoration: none;
    color: var(--color-bg-text);
    transition: color 0.3s ease;
}

.trending__link:hover {
    color: var(--color-link-dark-hover);
}

.trending__subtitle-line--pc {
    display: none;
}

.trending__subtitle-line--mobile {
    display: inherit;
}


.main {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    margin-top: 44px;
}

.inspiring-post {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    max-width: 775px;
}

.inspiring-post__item {
    display: flex;
    flex-direction: column;
    column-gap: 28px;
    row-gap: 13.5px;
}



.inspiring-post__img {
    width: auto;
    height: 253px;
    object-fit: cover;
}

.inspiring-post__tags {
    display: flex;
    gap: 18.2px;
    transform: translate(1px, -2px);
}

.inspiring-post__tag {
    text-transform: uppercase;
    text-decoration:none;
    font-size: 14px;
    color: var(--color-link);
    transition: color 0.3s ease;
    letter-spacing: 0.5px;
}

.inspiring-post__tag:hover {
    color: var(--color-link-hover);
}

.inspiring-post__title {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
    margin: 6px 0 17.5px;
}

.inspiring-post__title-link {
    text-decoration: none;
    color: var(--color-link-dark);
    transition: color 0.3s ease;
}

.inspiring-post__title-link:hover {
    color: var(--color-link-dark-hover);
}

.inspiring-post__info {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 13px;
}

.inspiring-post__date {
    font-size: 12px;
    color: #888888;
}

.inspiring-post__author-link {
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 0.6px;
    color: var(--color-text);
    transition: color 0.3s ease;
}

.inspiring-post__author-link:hover {
    color: var(--color-accent);
}

.inspiring-post__text {
    font-size: 14px;
    line-height: 20px;
    margin: 11px auto;
    max-height: 115px;
    overflow-y: hidden;
}

.inspiring-post__text:last-of-type::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-accent);
    opacity: 0.4;
    margin: 22px auto 0;
}

.inspiring-post__text-last {
    margin-top: -4px;
}


.sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    width: 100%;
}

.latest-posts {
    display: flex;
    flex-direction: column;
    row-gap: 22.6px;
}

.latest-posts__title {
    align-self: center;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--color-text);
}

.latest-posts__title::after {
    content: '';
    display: block;
    width: 66px;
    height: 3px;
    background-color: var(--color-accent);
    opacity: 0.4;
    margin: 9px auto 0;
}

.latest-posts__item {
    display: flex;
    column-gap: 20px;
}

.latest-posts__img {
    width: 70px;
    height: 70px;
    object-fit: cover; 
    transform: translateY(4px);
}

.latest-posts__header {
    display: flex;
    flex-direction: column;
}

.latest-posts__date {
    font-size: 12px;
    color: #888888;
}

.latest-posts__subtitle {
    font-size: 14px;
    color: var(--color-text);
    text-transform: uppercase;
    line-height: 18px;
    margin: 4px 0 0;
    transform: translate(0.2px, -1.5px);
}

.latest-posts__link {
    text-decoration: none;
    color: var(--color-link-dark);
    transition: color 0.3s ease;
}

.latest-posts__link:hover {
    color: var(--color-link-dark-hover)
}

.search {
    display: flex;
    margin-top: 21px;
}

.search__input {
    width: 100%;
    height: 48px;
    border: none;
    padding-left: 10px;
    text-indent: 10px;
    font-size: 13px;
    background-color: #f4f7f6;
    transition: box-shadow 0.3s ease;
}

.search__input::placeholder {
    color: rgba(0, 0, 0, 0.54);
}

.search__input:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--color-accent);
}

.search__btn {
    width: 48px;
    height: 48px;
    border: none;
    background-color: var(--color-accent);
    cursor:pointer;
    transition: background-color 0.3s ease;
}

.search__btn:hover {
    background-color: var(--color-button-hover);
}

.search__btn svg {
    width: 18px;
    height: 18px;
    stroke: var(--color-bg-text);
}

.subscribe {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
}

.subscribe__title {
    align-self: center;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--color-text);
}

.subscribe__title::after {
    content: '';
    display: block;
    width: 66px;
    height: 3px;
    background-color: var(--color-accent);
    opacity: 0.4;
    margin: 9px auto 0;
}

.subscribe__text {
    font-size: 15px;
    line-height: 22px;
    color: var(--color-text);
    text-align: center;
    margin: 0;
    transform: translate(1.6px, -3.8px);
}

.subscribe__form {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 18px;
}

.subscribe__input {
    width: 100%;
    height: 48px;
    border: none;
    padding-left: 10px;
    text-indent: 10px;
    font-size: 13px;
    background-color: #f4f7f6;
    transition: box-shadow 0.3s ease;
}

.subscribe__input::placeholder {
    color: rgba(0, 0, 0, 0.54);
}

.subscribe__input:focus {
    outline: none;    
    box-shadow: inset 0 0 0 2px var(--color-accent);
}

.subscribe__btn {
    width: 100%;
    height: 48px;    
    border: none;
    background-color: var(--color-accent);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    color: var(--color-bg-text);
    transition: background-color 0.3s ease;
}

.subscribe__btn:hover {
    background-color: var(--color-button-hover);
}

.tags {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.tags__title {
    font-size: 14px;    
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-text);
    margin: 0 auto;
    position: relative;
}

.tags__title::after {
    content: '';
    display: block;
    position: absolute;
    width: 66px;
    height: 3px;
    background-color: var(--color-accent);
    opacity: 0.4;
    margin: 9px auto 0;
    left: 50%;
    transform: translateX(-50%);
}

.tags__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 6.7px;
    row-gap: 7px;
    padding: 0;
}

.tags__list-item {
    text-align: center;
    list-style: none;
    border: 2px solid #eeeeee;
    padding: 2.6px 13.9px;;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.tags__list-item:hover {
    border-color: var(--color-accent);
    background-color: rgba(181, 159, 91, 0.3);
    cursor: pointer;
}

.tags__link {
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-link-dark);
    transition: color 0.3s ease;
}

.tags__list-item:hover .tags__link { 
    color: var(--color-link-dark-hover);
}

.themes {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    margin-top: -13.6px;
}

.themes__title {
    font-size: 16px;    
    line-height: 20px;
    text-transform: uppercase;
    color: var(--color-text);
    margin: 0 auto;
    position: relative;
}

.themes__title::after {
    content: '';
    display: block;
    position: absolute;
    width: 66px;
    height: 3px;
    background-color: var(--color-accent);
    opacity: 0.4;
    margin: 9px auto 0;
    left: 50%;
    transform: translateX(-50%);
}    

.themes__list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 0;
}

.themes__list-item {
    list-style: none;
    letter-spacing: 0.6px;
}

.themes__link {
    text-decoration: none;
    font-size: 14px;
    color: var(--color-link-dark);
    transition: color 0.3s ease;
}

.themes__link:hover {
    color: var(--color-link-dark-hover);
}

.themes__link-sup {
    font-size: 12px;
    color: var(--color-accent);
    margin-left: 3px;
}

.our-products {
    display: flex;
    flex-direction: column;
    margin-top: 42px;
}

.our-products__title {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--color-text);
    margin: 0 auto;
}

.our-products__title::after {
    content: '';
    display: block;
    width: 66px;
    height: 3px;
    background-color: var(--color-accent);
    opacity: 0.4;
    margin: 10px auto 0;
}

.our-products__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.our-products__item:nth-of-type(2) .our-products__price-old {
    text-decoration: none;
}

.our-products__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
}

.our-products__item-border {
    border: 2px solid rgba(181, 159, 91, 0.6);
    padding: 20px 18px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}


.our-products__picture {
    width: 300px;
    height: 285px;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(calc(-50% + 5px));
    top: 26px;
    z-index: -1;
}

.our-products__subtitle {
    font-size: 17px;
    text-transform: uppercase;
    color: var(--color-text);
    margin-bottom: 0;
    margin-top: 25px;
}

.our-products__text {
    margin: 2px 0 27px;
    letter-spacing: 0.6px;
    line-height: 22px;
}

.our-products__text a {
    text-decoration: none;
    color: var(--color-link);
    transition: color 0.3s ease;
}

.our-products__text a:hover {
    color: var(--color-link-hover);
}

.our-products__price-block {
    display: flex;
    justify-content: space-between;
}

.our-products__price {
    display: flex;
    flex-direction: column;
}

.our-products__price-old {
    text-decoration: line-through;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    margin: 0;
    /* white-space: pre; */
}



.our-products__price-new {
    font-size: 20px;
    line-height: 18px;
    color: var(--color-text);
    margin: 0;
}

.our-products__btn {
    border: none;
    background-color: var(--color-accent);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0.6px;
    color: var(--color-bg-text);
    transition: background-color 0.3s ease;
    width: 140px;
    height: 48px;
    transform: translate(1px, -3px);
}

.our-products__btn:hover {
    background-color: var(--color-button-hover);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 34px;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    margin: 47px 0 0;
    background-color: #f4f7f6;
    height: 80px;
    width: 100%;
}

.footer__link svg {
    transition: fill 0.3s ease;
}

.footer__link:hover svg {
    fill: var(--color-link-dark-hover);
}

.footer__copy {
    font-size: 12px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.54);
    transform: translateX(3px);
}


.popup__checkbox {
    display: none;
}

.popup {
    position: fixed;
    display: flex;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center; 
    align-items: center; 
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    transform: scale(0.9);
}

._hidden {
    opacity: 0; 
    visibility: hidden;
    pointer-events: none; 
}

.popup__checkbox:checked + .popup {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.popup__content {
    position: relative;
    background-color: #fff;
    padding: 10px 23px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 370px;
    max-height: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin: auto 15px;
    min-height: 545px;
    row-gap: 12px;
    font-size: 13px;
}

.popup__subscribe {
    border: 0;
    margin: 0;
    padding: 0;
}

.popup__close {
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.popup__title {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.popup__title::after {
    content: '';
    display: block;
    width: 66px;
    height: 3px;
    background-color: var(--color-accent);
    opacity: 0.4;
    margin: 10px auto 0;
}

.popup__label {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.popup__select {
    height: 47px;
    border: none;
    width: 100%;
    padding: 0 19px;
    cursor: pointer;
    font-size: 14px;
    color: rgba(15, 13, 14, 0.6);
    appearance: none;
    position: relative;
    transition: box-shadow 0.3s ease;
    background-color: #f3f7f6;
}

.popup__select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.popup__select-wrapper::after {
    content: "";
    position: absolute;
    right: 15px;
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Чтобы стрелка не перехватывала клики */
    background: url('../svg/form-arrows.svg') no-repeat center/contain;
}

.popup__select::placeholder {
    color: var(--color-text);
}

.popup__select:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--color-accent);
}

.popup__form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.popup__legend {
    margin-bottom: 9px;
}

.popup__subscribe input {
    display: none;
}

.popup__subscribe label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.popup__subscribe label::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url('../svg/form-empty-circle.svg') no-repeat center/contain;
    display: inline-block;
    transition: 0.3s;
}

.popup__subscribe input:checked + label::before {
    background: url('../svg/form-circle.svg') no-repeat center/contain;
}

.popup__radio {
    display: flex;
    column-gap: 37px;
}

.popup__label {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.popup__textarea {
    background-color: #f3f7f6;
    border: none;
    padding: 17px 23px;
    resize: none;
    height: 133px;
    color: var(--color-text);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.popup__textarea::placeholder {
    color: var(--color-text);
    opacity: 0.5;
}

.popup__textarea:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--color-accent);

}


.popup__btn {
    width: 100%;
    height: 48px;
    border: none;
    background-color: var(--color-accent);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    color: var(--color-bg-text);
    transition: background-color 0.3s ease;
}

.popup__btn:hover {
    background-color: var(--color-button-hover);
}





/* Планшетная версия */
@media (min-width: 641px) {
    body {
        font-size: 16px;
    }

    .container {
        padding: 0 35px;   
    }

    .header {
        min-height: 392px;
        background: url('../images/banner-bg-tablet.jpg') no-repeat center / cover;
    }

    .header__top {
        justify-content: space-between;
        align-items: center;
        padding: 38px 0 0;
    }

    .trending__container {
        height: 100px;
    }

    .header__logo {
        height: 36px;
    }

    .header__top-mobile {
        display: none;
    }

    .header__tablet-btn-burger {
        display: inherit;
    }

    .header__title {
        font-size: 40px;
        line-height: 55px;
        margin: 85px 0px 0;
        padding: 0px 25px;
    }

    .trending__title {
        font-size: 18px;
        transform: translateY(13px);
    }

    .trending__subtitle-line--mobile {
        display: none;
    }

    .trending__list {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        /* transform: translate(-2px, 2px); */
        transform: none;
        width: 100%;
    }

    .trending__item {
        width: calc(50% - 2.5px);
        min-height: 245px;
    }

    .trending__border {
        padding: 30px 29px;
        margin: 11px 19px;
    }

    .trending__subtitle {
        font-size: 17px;
        line-height: 22px;
    }

    .main {
        column-gap: 35px;
        margin-top: 50px;
        flex-direction: row;
        row-gap: 0;
    }

    .sidebar {
        min-width: 274px;
        max-width: 274px;
        width: 274px;
        row-gap: 35px;
    }

    .search {
        margin-top: 29px;
    }

    .inspiring-post {
        min-width: 262px;
    }

    .inspiring-post__img {
        height: 305px;
    }

    .inspiring-post__title {
        font-size: 17px;
        text-transform: uppercase;
        line-height: 22px;
        margin: 6px 0 30px;
    }

    .inspiring-post__text {
        font-size: 15px;
        line-height: 22px;
        margin: 29px auto 0;
    }

    .inspiring-post__text:last-of-type::after {
        margin: 17px auto 0;
    }

    .inspiring-post {
        row-gap: 36px;
    }

    .latest-posts__title {
        font-size: 14px;
        line-height: 18px;
        transform: translate(1.6px, -3.8px);
    }

    .latest-posts {
        row-gap: 21.8px;
    }

    .subscribe {
        row-gap: 28px;
    }

    .subscribe__title {
        font-size: 14px;
        line-height: 18px;
        transform: translate(-3.8px, 12px);
        margin: 9px;
    }

    .tags {
        margin-top: 21px;
    }

    .themes__title {
        font-size: 14px;
        line-height: 18px;
    }

    .themes {
        margin-top: 0;
        row-gap: 16px;
    }

    .our-products__title {
        font-size: 18px;
        line-height: 19px;
    }

    .our-products__list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 20px;
    }

    .our-products__item {
        width: calc(50% - 10px);
    }

    .our-products__item-border {
        /* height: 266px; */
        padding: 27px 22px;
        flex: 1;
    }

    .our-products__picture {
        height: 220px;
        transform: translateX(-50%);
    }

    .our-products__text {
        font-size: 14px;
    }

}

/* Десктопная версия */
@media (min-width: 1201px) {
    body {
        font-size: 18px;
    }

    .container {
        max-width: 1200px;
        padding: 0 15px;
    }

    .header {
        min-height: 450px;
        background: url('../images/banner-bg.jpg') no-repeat center / cover;   
    }

    .header__btn-burger,
    .header__tablet-btn-burger {
        display: none;
    }

    .header__nav {
        display: inline;
    }

    .header__top {
        padding-top: 20px;
    }

    .header__logo {
        width: auto;
        height: 41px;
    }

    .header__title {
        font-size: 45px;
        line-height: 75px;
        margin: 100px 0 0;
        padding: 0px;
    }

    .header__title-line {
        display: inline;
    }

    .trending__container {
        height: 120px;
    }

    .trending__list {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .trending__title {
        font-size: 20px;
        transform: translate(-2px, 15px);
    }

    .trending__item {
        width: calc(25% - 4px);
        min-height: 320px;
    }

    .trending__border {
        margin: 16px 22px;
        padding: 34px 32px;
    }

    .trending__subtitle {
        font-size: 20px;
        line-height: 24px;
    }

    .trending__subtitle-line--pc {
        display: inherit;
    }

    .inspiring-post {
        row-gap: 59px;
        min-width: 775px;
    }

    .inspiring-post__img {
        min-width: 382px;
        height: 295px;
    }

    .inspiring-post__item {
        flex-direction: row;
        row-gap: inherit;
    }

    .inspiring-post__title {
        font-size: 20px;
        line-height: 24px;
        margin: 4px 0 29px;
    }

    .inspiring-post__info {
        margin-bottom: 46px;
    }

    .inspiring-post__text {
        margin: 11px auto;
    }

    .inspiring-post__text::after {
        display: none;
    }

    .main {
        column-gap: 123px;
        margin-top: 66px;
        transform: translateX(-2px);
    }

    .sidebar {
        row-gap: 60px;
    }

    .latest-posts {
        row-gap: 21px;
    }



    .search {
        margin-top: 3px;
    }

    .search__input {
        width: 222px;
    }



    .subscribe__form {
        width: 271px;
    }

    .subscribe__title {
        font-size: 16px;
        line-height: 20px;
        transform: translateX(-3.8px);
        margin: 0;
    }



    .tags {
        row-gap: 18px;
    }

    .tags__list {
        column-gap: 6px;
        row-gap: 6px;
    }

    .tags__list-item {
        padding: 2px 16px;
    }

    .themes {
        margin-top: -18.6px;
        transform: translateX(2px);
        row-gap: 16px;
    }

    .themes__title {
        font-size: 14px;    
        line-height: 18px;
    }

    .our-products {
        transform: translateX(-3px);
        margin-top: 57px;
    }

    .our-products__item {
        width: 347px;
    }

    .our-products__item-border {
        padding: 27px 22px;
    }

    .our-products__title {
        font-size: 20px;
    }

    .our-products__picture {
        height: 200px;
    }

    .our-products__subtitle {
        font-size: 20px;
        margin-top: inherit;
    }

    .our-products__text {
        margin: 2px 0 27px;
        letter-spacing: -0.6px;
        line-height: inherit;
    }

    .footer {
        row-gap: 57px;
    }

    .footer__social {
        margin: 68px 0 0;
    }
}